* {
  background-color: #FDF0CC;
  border-color: #436587;
  text-color: #436587;
  spacing: 0;
  width: 512px;
}

inputbar {
  children: [prompt,entry];
}

prompt {
  padding: 8px;
}

textbox {
  background-color: #FDF0CC;
  text-color: #436587;
  padding: 4px 8px;
}

entry {
  padding: 8px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
}

element {
  padding: 8px;
}

element selected {
  background-color: #436587;
  text-color: #fdf0cc;
}
